{% extends 'student/student_page.html' %}
{% block student %}

<div class="col-lg-8">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Hostel Details</strong>
        </div>
        <div class="card-body">
            {% for detail in details %}
            <div class="card" style="width: 18rem;">
                <img src="{{detail.image1.url}}" class="card-img-top" alt="...">
                <div class="card-body">

                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{{detail.image2.url}}" class="card-img-top" alt="...">
                <div class="card-body">

                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{{detail.image3.url}}" class="card-img-top" alt="...">
                <div class="card-body">

                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
</div>

</div>

{% endblock %}