{% extends 'student/student_page.html' %}
{% block student %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>

<div class="col-lg-8">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Payment Details</strong>
        </div>
        <div class="card-body">
            <table class="table">
  <thead >
    <tr>
      <th scope="col">SINo</th>
      <th scope="col">Student Name</th>
      <th scope="col">Paid By</th>
      <th scope="col"> Paid Date</th>
      <th scope="col">Payment</th>


    </tr>
  </thead>
  <tbody>
       {% for payment in payments %}
    <tr>

        <td>{{forloop.counter}}</td>
        <td>{{payment.student_name}}</td>
        <td>{{payment.paid_by}}</td>
        <td>{{payment.date}}</td>
        <td>{{payment.payment}}</td>



    </tr>
        {% endfor %}

  </tbody>
</table>



</div>
    </div>
</div>

</body>
</html>

{% endblock %}