{% extends 'admin/admin_page.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Income Detail</title>
</head>
<body>
    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">SINo</th>
      <th scope="col">Name</th>
      <th scope="col">Accommodation</th>
      <th scope="col">Electricity</th>
      <th scope="col">Caution_deposit</th>
      <th scope="col">Security</th>
      <th scope="col">Mess</th>
      <th scope="col">Others</th>
    </tr>
  </thead>
  <tbody>
       {% for fee in fees %}
    <tr>

        <td>{{forloop.counter}}</td>
        <td>{{fee.name}}</td>
        <td>{{fee.name}}</td>
        <td>{{fee.electricity}}</td>
        <td>{{fee.caution_deposit}}</td>
        <td>{{fee.security}}</td>
        <td>{{fee.mess}}</td>
        <td>{{fee.others}}</td>



    </tr>
        {% endfor %}

  </tbody>
</table>





</body>
</html>

{% endblock %}