{% extends 'admin/admin_page.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Hostel Detail</title>
</head>
<body>
   <div class="col-lg-8">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Student Reviews</strong>
        </div>
        <div class="card-body">
            <table class="table">
  <thead >
    <tr>
      <th scope="col">SINo</th>
      <th scope="col">Name</th>
      <th scope="col">Review</th>


    </tr>
  </thead>
  <tbody>
       {% for review in reviews %}
    <tr>

        <td>{{forloop.counter}}</td>
        <td>{{review.name}}</td>
        <td>{{review.review}}</td>


    </tr>
        {% endfor %}

  </tbody>
</table>

        </div>
    </div>
   </div>



</body>
</html>

{% endblock %}