{% extends 'parent/parent_page.html' %}
{% block parent %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View  Attendance</title>
</head>
<body>



<div class="col-lg-8">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Attendance</strong>
        </div>
        <div class="card-body">
            <table class="table">
  <thead >
    <tr>
      <th scope="col">SINo</th>
      <th scope="col">Name</th>
      <th scope="col">Initial Day</th>
      <th scope="col">Final Day</th>
      <th scope="col">Percentage</th>


    </tr>
  </thead>
  <tbody>
       {% for attendance in attendances %}
    <tr>

        <td>{{forloop.counter}}</td>
        <td>{{attendance.name}}</td>
        <td>{{attendance.initial_day}}</td>
        <td>{{attendance.final_day}}</td>
        <td>{{attendance.percentage}}</td>


    </tr>
        {% endfor %}

  </tbody>
</table>


</div>
    </div>
</div>

</body>
</html>

{% endblock %}