{% extends 'admin_page.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Income Detail</title>
</head>
<body>
    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">SINo</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Username</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
       {% for staff in staffs %}
    <tr>

        <td>{{forloop.counter}}</td>
        <td>{{staff.name}}</td>
        <td>{{staff.mobile}}</td>
        <td>{{staff.email}}</td>
        <td>{{staff.address}}</td>
        <td>{{staff.username}}</td>
        <td><a href="{% url 'update_staff' staff.id %}">Update</a></td>
        <td><a href="{% url 'delete_staff' staff.id %}">Delete</a></td>




    </tr>
        {% endfor %}

  </tbody>
</table>





</body>
</html>

{% endblock %}