{% extends 'admin/admin_page.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View E-Grant Details</title>
</head>
<body>
    <div class="col-lg-8">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Notifications</strong>
        </div>
        <div class="card-body">
            <table class="table">
  <thead >
    <tr>
      <th scope="col">SINo</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>



    </tr>
  </thead>
  <tbody>

    <tr>

        <td>{{forloop.counter}}</td>



    </tr>


  </tbody>
</table>

        </div>
    </div>
    </div>



</body>
</html>

{% endblock %}